
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/domiciliarios"><i class="fas fa-angle-double-left"></i> Volver</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Nuevo Domiciliario</h2>
            <span class="text-dark">Utilice el siguiente formulario para crear un Domiciliario</span>
        </div>

        <!-- add domic form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
