<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="css/login.css">
  <title>Speed Food</title>
</head>

<body>

  <div class="login-page">
    <div class="form">
      <h1>SPEED FOOD</h1>
      <form class="login-form" method="post"  id="Login">
        <input type="text" name="name" id="nameLogin" placeholder="Nombre" />
        <input type="password" name="password" id="passLogin" placeholder="Contraseña" />
        <button onclick="validate()">Entrar</button>
        <div id="github">
          <a href="" target="_blank"><i class="fab fa-github"></i></a>
          <p>GitHub</p>
        </div>
      </form>
    </div>
  </div>
</body>
</html>