 <!-- form handling -->
 <form action="/api/products" method="POST" id="add_domic">
    <div class="new_domic">
        <div class="form-group">
            <label for="type" class="text-dark">Tipo</label>
            <input type="hidden" name="id" value="">
            <input type="text" id="InputTipo"name="type" value="" placeholder="Hamburguesa" onkeypress="return onlyAlpha(event)" required>
        </div>
        <div class="form-group">
            <label for="name" class="text-dark">Nombre</label>
            <input type="text" name="name" value="" placeholder="Nombre del Producto"  required>
        </div>
        <div class="form-group">
            <label for="description" class="text-dark">Descripcion</label>
            <input type="text" name="description" value="" placeholder="ingredientes"  required>
        </div>
        <div class="form-group">
            <label for="price" class="text-dark">Precio</label>
            <input type="text" name="price" value="" placeholder="0" onkeypress="return onlyNums(event)" required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Confirmar</button>
        </div>

    </div>
</form>